<h1>Select Your Bikers</h1>

<div class="container">
  <div class="row">
    <ul>
    <% @bikers.each do |biker| %>
       <li><%= biker.pseudo %>
        <%= biker.address %>
        <%= biker.price %>€/jour</li>
    <% end %>
    </ul>
  </div>
</div>
