// CARDS BIKER#INDEX --------------------------------------
.cards-bikers-container{
    display: flex;
}
.cards-bikers {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin: 16px;
    flex-grow: 1;
}

.card-biker {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: left;
    border-radius: 4px;
    height: 250px;

    img {
        height: 100%;
        width: 40%;
        border-radius: 4px 0 0 4px;
        object-fit: cover;
        transition-duration: .4s;

        &:hover {
            opacity: .7;
            transition-duration: .4s;
        }
    }
    .card-biker-info {
        padding: 24px;
        flex-grow: 1;

        h2 {
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;
            color: rgba(30, 30, 30, .8);
        }

        p {
            font-size: 14px;
            color: #979797;
            margin: 0;
        }

        .card-biker-info-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 64px;

            a {
                font-size: 16px;
            }
        }
    }
}

// CARD BIKER#SHOW

