.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

// MAP BIKER#INDEX ---------------------------
#map {
  position: sticky;
  top: 0;
  margin: 16px 16px 16px 0;

  img {
      border-radius: 4px;
  }
}
// MAP BIKER#SHOW ---------------------------